{% section 'hero2' %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item one-whole">
        {% section 'hero2' %}
    {% comment %} 
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
    {% endcomment %}
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
        {% section 'hero' %}
        {% section 'image-bar' %}
        {% section 'rich-text' %}
        {% section 'custom-content' %}
      </div>
    </div>
  </div>
</div>
